<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><%= t('error') %></h4>
  <p><%= t('internal_server') %></p>
  <hr>
  <p class="mb-0"><%= link_to t(root.path), root_path %></p>
</div>