<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><%= t('error') %></h4>
  <p><%= t('record_not_found')%></p>
  <hr>
  <p class="mb-0"><%= link_to t('link.back_root'), root_path %></p>
</div>
